<footer class="bg-dark text-center text-white">
  <div class="container p-4">
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <section class="">
      <div class="row">
        <div class="col-lg col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">follow us on social media</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.facebook.com/TraverseCityLightPower" class="text-white" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook" aria-hidden="true"></i>  Facebook</a>
            </li>
            <li>
              <a href="https://twitter.com/TCLP_News" class="text-white" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter" aria-hidden="true"></i>  Twitter</a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UCPE7_hFyhTVX5Fcyj2xjPjw" class="text-white" target="_blank" rel="noopener noreferrer"><i class="fa fa-youtube-play" aria-hidden="true"></i>  Youtube</a>
            </li>
            <li>
              <a href="https://www.instagram.com/traversecitylightpower/" class="text-white" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram" aria-hidden="true"></i>  Instagram</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="#">Michigan Technological University</a>
  </div>
</footer>