{% extends 'template.html' %}
{% load static %}
{% block title %}
<title>Help</title>
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>How To Use This Website</h3>
      <ul>
      <h4> How to Log In</h4>
      <ul>
      <p>1. Find "Log In" in the navigation bar at the top of the page.</p>
      <p>2. Click "Create Account" if you don't already have one.</p>
      <ul>
      <p>a. Enter your username an a secure password. </p>
      </ul>
      <p>3. Enter your username and a secure password. </p>
    </ul>
    <h4> How to Use the Translator</h4>
    <ul>
      <p>1. Navigate to the home page. </p>
      <p>2. Enter your text (in English) in the "translate" box. </p>
      <p>3. Click translate, and your IPA pronunciation will be displayed. </p>
    </ul>

    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h3>What Is IPA (International Phonetic Alphabet)</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, veniam! Quam, magnam. Est tempora molestias a ab in inventore nam possimus sed debitis ex sit excepturi molestiae, minima quaerat maxime saepe error magnam. Aperiam modi qui officiis laborum soluta. Quae tenetur iure unde laboriosam asperiores, aut nemo reiciendis nisi sunt ipsa eaque odio numquam at quis fuga inventore voluptatibus doloribus neque aliquam rerum est harum quaerat praesentium corrupti. Nulla sit saepe voluptate iste, laborum ex.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h3>How To Use IPA</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, veniam! Quam, magnam. Est tempora molestias a ab in inventore nam possimus sed debitis ex sit excepturi molestiae, minima quaerat maxime saepe error magnam. Aperiam modi qui officiis laborum soluta. Quae tenetur iure unde laboriosam asperiores, aut nemo reiciendis nisi sunt ipsa eaque odio numquam at quis fuga inventore voluptatibus doloribus neque aliquam rerum est harum quaerat praesentium corrupti. Nulla sit saepe voluptate iste, laborum ex.</p>
    </div>
  </div>
  </div>

{% endblock %}