{% extends 'template.html' %}
{% load static %}
{% block title %}
<title>Help</title>
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>How To Use This Website</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, veniam! Quam, magnam. Est tempora molestias a ab in inventore nam possimus sed debitis ex sit excepturi molestiae, minima quaerat maxime saepe error magnam. Aperiam modi qui officiis laborum soluta. Quae tenetur iure unde laboriosam asperiores, aut nemo reiciendis nisi sunt ipsa eaque odio numquam at quis fuga inventore voluptatibus doloribus neque aliquam rerum est harum quaerat praesentium corrupti. Nulla sit saepe voluptate iste, laborum ex.</p>
    </div>
  </div>
  </div>

{% endblock %}