{% extends 'template.html' %}
{% load static %}
{% block title %}
<title>Home</title>
{% endblock %}

{% block body %}

<div class="container">
  <div class="row justify-content-center">
  <!-- the form tag will send the data to the path '/' -->
  <form action = "" method = "post">
    <label for = ""> Enter phrase to be translated:  </label>
    <input type = "text" name = "your phrase" id = "your phrase" maxlength ="100"/>
    {% csrf_token %}
    {{ form }}
    <!-- The input tag will allow the user to submit the form -->
    <input type = "submit" value = "Submit" />
  </form>
  <!-- The form_data.address variable will display the data that is entered into the form -->
  <div id="ipa">
  {{ form_data.address }}
  </div>
</div>
  <div class="row">
    <div class="col-sm">
      <h3>Heading</h3>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, repellat quasi dolorum amet sint libero neque asperiores sit nobis vitae recusandae suscipit maxime veniam? Odit harum, obcaecati magnam temporibus sed saepe rerum distinctio nemo impedit in quam exercitationem cum qui fuga possimus alias non eos vitae voluptate illum necessitatibus. Nulla fugit nesciunt, minima quam, non sit placeat error deleniti ab omnis nemo? Doloribus, vero neque. Commodi magnam ut quisquam dicta temporibus dolor ullam nihil cumque.
    </div>
    <div class="col-sm">
      <h3>Heading</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste aliquam nostrum eaque at sed eos odio quisquam earum, adipisci omnis, ratione deleniti, tempore doloremque maxime. Officiis quidem suscipit illum enim similique doloremque ullam quam sapiente, assumenda dolorem dignissimos accusamus nostrum ratione reprehenderit corrupti. Magni sint quibusdam doloribus, assumenda eius facere odio sunt, quasi ullam cupiditate et earum eaque error corporis, rem voluptatum laborum delectus quas nisi. Quibusdam, voluptates eveniet? Atque ipsum consequatur ad beatae nostrum.</p>
    </div>
    <div class="col-sm">
      <h3>Heading</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, veniam! Quam, magnam. Est tempora molestias a ab in inventore nam possimus sed debitis ex sit excepturi molestiae, minima quaerat maxime saepe error magnam. Aperiam modi qui officiis laborum soluta. Quae tenetur iure unde laboriosam asperiores, aut nemo reiciendis nisi sunt ipsa eaque odio numquam at quis fuga inventore voluptatibus doloribus neque aliquam rerum est harum quaerat praesentium corrupti. Nulla sit saepe voluptate iste, laborum ex.</p>
    </div>
  </div>
  </div>
<script>
  var xhr = new XMLHttpRequest();
  xhr.open("POST", "/your/url/name.php"); 
  xhr.onload = function(event){ 
      alert("Success, server responded with: " + event.target.response); // raw response
  }; 
  // or onerror, onabort
  var formData = new FormData(document.getElementById("myForm")); 
  xhr.send(formData);

</script>


<!--
  <script>
    // using jQuery to make AJAX request
    // ajax.js
    
$(document).ready(function() {
  $("#myButton").click(function() {
    var userInput = $("#myInput").val();
    $.ajax({
      url: "/run-python-script/",
      type: "POST",
      data: {
        user_input: userInput
      },
      dataType: "json",
      success: function(data) {
        $("#output").text(data.output);
      },
      error: function(xhr, errmsg, err) {
        console.log(xhr.status + ": " + xhr.responseText);
      }
    });
  });
});
</script>
-->
{% endblock %}