{% load static %}

<header>
  <!-- 
    THIS IS WHAT THE NAV BAR SHOULD LOOK AND WORK LIKE
  -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="{% static '/img/IPA.png' %}" width="75" height="75" class="d-inline-block align-top" alt="">
      IPA Translator
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        <li class="nav-item"> 
          <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true" style="font-size:24px"></i> Translator</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="/help"><i class="fa fa-info-circle" aria-hidden="true" style="font-size:24px"></i>Info</a>
        </li>
        <li>
          <a class="nav-link" href="/login"><i class="fa fa-map" aria-hidden="false" style="font-size:24px"></i>Log In</a>
        </li>
        <li>
          <a class="nav-link" href="/Registration"><i class="fa fa-map" aria-hidden="false" style="font-size:24px"></i>Registration</a>
        </li>
      </ul>
    </div>

</header>